/* The content of the posts (body of text) */
body {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	padding: 0;
	margin: 0;
}

.sub-header {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	color: #000000;
	padding: 4px;
}

/* General page style */
.bodyline {
	background-color: #FFFFFF;
	color:#000000;
}

.bodyline-top-left {
	background-image: url(images/bodyline-top-left.png);
	background-repeat: no-repeat;
}

.bodyline-top {
	background-image: url(images/bodyline-top.png);
	background-repeat: repeat-x;
}

.bodyline-top-right {
	background-image: url(images/bodyline-top-right.png);
	background-repeat: no-repeat;
}

.bodyline-left {
	background-image: url(images/bodyline-left.png);
	background-repeat: repeat-y;
}

.bodyline-right {
	background-image: url(images/bodyline-right.png);
	background-repeat: repeat-y;
}

.bodyline-bottom-left {
	background-image: url(images/bodyline-bottom-left.png);
	background-repeat: no-repeat;
}

.bodyline-bottom {
	background-image: url(images/bodyline-bottom.png);
	background-repeat: repeat-x;
}

.bodyline-bottom-right {
	background-image: url(images/bodyline-bottom-right.png);
	background-repeat: no-repeat;
}

a {
	color:#111; 
	text-decoration:none;
}

a:hover {
	color:#CCC; 
	text-decoration:none;
}

a.side {
	color:#111; 
	text-decoration:none;
}

a:hover.side {
	color:#CCC; 
	text-decoration:none;
}

a.white {
	color:#AAA; 
	text-decoration:none;
	font-weight:bold;
}

a:hover.white {
	color:#111; 
	text-decoration:underline;
}

form {
	margin:0px 0px 0px 0px;
}

hr {
	height:0px; 
	border:solid #CCCCCC 1px; 
	border-top-width: 1px;
}

hr.side-hr {
	height:0px; 
	border:solid #CCCCCC 0px; 
	border-top-width:1px;
}

td {
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:10px;
}

pre {
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:11px;
}

.alt {
	color:#1C1C1C;
}

.white-header {
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:10px; 
	color:#444;
	background-color:#D4DDDE;
	padding:4px; 
	border-top:#3F5A7F 1px solid; 
	border-bottom:#3F5A7F 1px solid;
}

.full-header {
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:10px; 
	color:#111;
	background-color:#D4DDDE;
}

.button {
	background-color: #FF6E00;
	background-image: url(images/button_bg.png);
	background-repeat: repeat-x;
	background-position: center;
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:10px; 
	color:#000000;
	border:1px solid #951900;
	margin-top:2px;
	height: 16px;
}
	
.textbox	{
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:10px; 
	color:#000000;
	background-color:#FFFFFF;
	border:1px #951900 solid;
	padding-left: 2px;
}

.visits {
	color:#111; 
	text-decoration:none; 
	font-weight: bold;
	font-size:10px;
}

.main-body {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:11px; color:#000;
	background-color: #ff4019;
	padding:3px 4px 3px 4px;
}

.side-body {
	font-size:10px;
	color:#000000;
	padding:4px 4px 6px 4px;
	background-color: #ff4019;
}

.main-bg {
	background-color: #FFFFFF;
}

.border {
	border-width:0px 1px 1px 1px;
	border-color:#3F5A7F;
	border-style:solid;
}

.border2 {
	border-width:1px 1px 0px 1px;
	border-color:#3F5A7F;
	border-style:solid;
}

.news-footer {
	font-size:9px;
	font-weight:normal;
	color:#142000;
	background-color:#799BC8;
	padding:4px 4px 4px 4px;
}

.capmain {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	font-weight:bold;
	border-width:1px 1px 1px 1px;
	border-color:#3F5A7F;
	border-style:solid;
	color:#B78E00; 
	height:24px; 
	padding:2px 2px 2px 2px;
}

.panel {
	background-color: #6387B7;
	background-image: url(images/cellpic.gif);
	color: #1A1A1A;
	font-weight: bold; 
	text-align: left;
	height: 22px;
	padding:0px 4px 0px 4px;
}

.panel2 {
	background-color: #6387B7;
	background-image: url(images/cellpic2.gif);
	color: #1A1A1A;
	font-weight: bold; 
	text-align: left;
	height: 5px;
	padding:0px 4px 0px 4px;
}

.block-top-left {
	background-image: url(images/block-top-left.png);
	background-repeat: no-repeat;
}

.block-top {
	background-image: url(images/block-top.png);
	background-repeat: repeat-x;
	vertical-align: bottom;
	text-align: center;
	font-weight: bold;
	color: #AE1F00;
}

.block-top-right {
	background-image: url(images/block-top-right.png);
	background-repeat: no-repeat;
}

.block-left {
	background-image: url(images/block-left.png);
	background-repeat: repeat-y;
}

.block-right {
	background-image: url(images/block-right.png);
	background-repeat: repeat-y;
}

.block-bottom-left {
	background-image: url(images/block-bottom-left.png);
	background-repeat: no-repeat;
}

.block-bottom {
	background-image: url(images/block-bottom.png);
	background-repeat: repeat-x;
}

.block-bottom-right {
	background-image: url(images/block-bottom-right.png);
	background-repeat: no-repeat;
}

.footer {
	padding:0px 4px 0px 4px;
}

.date {
	background: none; 
	color: #C6C9CA; 
	font-size: 10px;
	font-weight: bold; 
	font-family: Verdana, Helvetica;
	text-decoration: none
}

img {
border: 0px;
}

.capleft {
	width:2px;
	height:20px;
}

.capright {
	width:2px;
	height:20px;
}

.scapmain {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	font-weight:bold;
	color:#000; 
	height:19px; 
	padding:0px 2px 0px 2px;
	border-width:1px 0px 1px 0px;
	border-color:#3F5A7F #3F5A7F #3F5A7F #3F5A7F;
	border-style:solid;
}

.tbl-border {
	background-color: #951900;
}

.tbl {
	font-size:11px;
	padding:3px 4px 3px 4px;
}

.tbl1 {
	font-size:11px; 
	color:#000; 
	background-color:#f72a00; 
	padding:4px;
}

.tbl2 {
	font-size:11px; 
	color:#091609; 
	background-color:#eb2800; 
	padding:4px;
}

/* Forum header*/
.forum-caption {
	font-size:10px;font-weight:bold; 
	color:#000000;
	background-color:#6387B7; 
	height:24px; 
	padding:0px 4px 2px 4px;
	background-image:url(images/forum_caption.gif);
	background-repeat:repeat-x;
	border-width:0px 0px 0px 0px;
	border-color:#3F5A7F #3F5A7F #3F5A7F #3F5A7F;
	border-style:solid;
}

/* Quote blocks */
.quote {
	color:#2F2F2F;
	background-color:#E1E3E6; 
	padding:2px;
	margin:0px 20px 0px 20px; 
	border:1px #3F5A7F solid;
}

/* Voting Poll */
.poll {
	height:14px; 
	vertical-align: bottom;
}

.comment-name {
	font-weight:bold; 
	color:#DDCC88;
}

/* This is for the Shoutbox */
.shoutboxname {
	font-weight:bold; 
	color:#007090;
}

.shoutbox	{
	color:#06070A;
}

.shoutboxdate {
	font-size:9px; 
	color:#1C1C1C;
}

.small {
	font-size:11px; 
	font-weight:normal;
	color:#111;
}

.small2 {
	font-size:10px; 
	font-weight:normal; 
	color:#1C1C1C;
}

.side-small {
	font-size:9px; 
	font-weight:normal; 
	color:#111;
}

.side-label {
	background-color:transparent; 
	font-weight:normal; 
	color:#DBDBDB; 
	padding:2px;
}

.submenu {
	padding-left: 10px;
	padding-bottom: 5px;
}